#atomic-styleguide-body{
    background: #CCCCCC;
}
body{
	margin:0;
	border:0;
	padding:0;
}
body > #content > .singleElement > .options{
    display:inline-block;
    float:left;
    width:20%;
    min-width:165px;
    margin-bottom:20px;
}
body > #content > .options{
    margin-bottom:20px;
    height:120px;
    padding:20px;
    background:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
body > #content > .singleElement > .options > form{
    width:100%;
}
body > #content > .singleElement > .options > .btn, body > #content > .singleElement > .options > form > .btn{
    background: transparent;
    font-size:1.1em;
    width:100%;
    text-align:left;
}
body > #content > .singleElement > .options > form > .btn{
    font-style:italic;
    font-weight:bold;
}
body > #content > .singleElement > .element{
    display:inline-block;
    width:80%;
    min-height:300px;
}
body > #content > .singleElement > .element > .import{
    overflow:hidden;
    width:100%;
    margin-bottom:5px;
}
body > #content > .singleElement > .options > form, body > #content > .options > form{
    float:left;
    margin-right:4px;
}
body > #content > .singleElement{
    margin-bottom:25px;
    padding:20px;
    background:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
body > #content{
    width:100%;
    max-width:1170px;
    padding:15px;
    margin:auto;
    margin-top:75px;
}
body > #content > .options > form > .btn{
    background:white;
    font-style:italic;
    font-weight:bold;
}
body > #content > #homeContent{
    max-width:1170px;
    margin:auto;
    padding:20px;
    padding-left:60px;
    padding-right:60px;
    background:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;  
}
body > #content > .element{
    padding:20px;
    background:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
}
body > #content > .singleElement > .element > .collapse pre{
    font-size:11px;
}
body > #content > .singleElement > .element > .collapsing pre{
    font-size:11px;
}
#homeContent li > span{
    font-family: monospace;
    background:#EEEEEE;
    padding-left:5px;
    padding-right:5px;
    color:black;
    border:1px solid #ffafaf;
}